{% extends "base.html" %}

{% block content %}

    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css">

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>


    <form action="" method="post">
    </form>

    <table id="products" class="display nowrap" style="width:100%">
        <thead>
            <tr>
                <th>rank</th>
                <th>item</th>
                <th>price</th>
                <th>link</th>
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
                <tr><td>{{ record[0] }}</td><td>{{ record[1] }}</td><td>{{ record[2] }}</td>
                    <td><a href="{{ record[3] }}">link</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}