<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    </head>

    <body>

        <table id="products" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>product</th>
                    <th>price</th>
                </tr>
            </thead>
            <tbody>
                {% for record in records %}
                    <tr><td>{{ record[0] }}</td><td>{{ record[1] }}</td></tr>
                {% endfor %}
            </tbody>
        </table>

    </body>

    <script>
        $(document).ready(function(){
            $('#products').DataTable();
        });
    </script>

    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

</html>